body {
   max-width: 1000px;
   margin: 0 auto;
}

img {
   max-width: 100%;
   height: auto;
}

h1 {
   font-weight: 200;
   font-size: 20px;
   margin-top: 50px;
}

#mainvisual img {
   margin-bottom: 40px;
}

.content-wrapper {
   max-width: 800px;
   margin: 0 auto;
}

h2 {
   text-align: center;
   font-weight: 100;
   font-size: 20px;
   padding-top: 30px;
}

ul {
   list-style: none;
}

section #index {
   margin-bottom: 40px;
}

#index {
   background-color: #F5F5F5;
   padding-bottom: 10px;
   margin-bottom: 10px;
}

#index .ol-list ol {
   margin: 0 auto;
   display: table;
}

.ol-list {
   border: 1px solid;
   line-height: 40px;
   margin: 60px;
   padding: 20px;
}

/*img*/
.img-wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   padding: 0;
}

/*DETAIL*/
#detail h3 {
   text-align: center;
}

#detail {
   background-color: #F5F5F5;
   padding: 40px;
   margin-top: 40px;
}

.detail-product {
   display: flex;
}

#detail dl {
   border-right: solid 1px #333;
   width: 35%;
   padding-right: 20px;
}

#detail .text {
   width: 65%;
   padding-left: 30px;
}

#detail dd {
   margin-bottom: 10px;
   margin-left: 0;
}

/*footer*/
footer p {
   text-align: center;
   font-size: 10px;
   margin-top: 60px;
}

/*sp*/
@media screen and (max-width: 1024px) {
   .img-wrapper li {
      flex-direction: column;
   }

   .detail-product {
      flex-direction: column;
   }

   #detail dl {
      border-right: none;
      border-bottom: solid 1px #333;
      padding-bottom: 20px;
      width: 100%;
   }

   #detail .text {
      padding-left: 0;
      width: 100%;
   }

}